body {
  margin: 0;
}

* {
  user-select: none;
}

#hand {
  position: absolute;
  bottom: 0;
  background: #444;
  height: 160px;
  width: 100%;
  z-index: 100;
}
#hand:after {
  content: "";
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  display: block;
  box-sizing: border-box;
  border: 5px solid #222;
  position: relative;
  top: 16px;
  left: 16px;
}
#hand:before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 16px;
  top: -16px;
  margin-bottom: -16px;
  background: #444;
  background: linear-gradient(0deg, #444 0%, rgba(68, 68, 68, 0) 100%);
}

#play-area {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#play-table {
  height: 100%;
  width: 100%;
  background: #056941 url(img/tablecloth.png) repeat;
}

#overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
}

.card {
  background-size: 100%;
}
.card[value=ace][suit=spades] {
  background-image: url(art/AS.svg);
}
.card[value=ace][suit=hearts] {
  background-image: url(art/AH.svg);
}
.card[value=ace][suit=clubs] {
  background-image: url(art/AC.svg);
}
.card[value=ace][suit=diamonds] {
  background-image: url(art/AD.svg);
}
.card[value="2"][suit=spades] {
  background-image: url(art/2S.svg);
}
.card[value="2"][suit=hearts] {
  background-image: url(art/2H.svg);
}
.card[value="2"][suit=clubs] {
  background-image: url(art/2C.svg);
}
.card[value="2"][suit=diamonds] {
  background-image: url(art/2D.svg);
}
.card[value="3"][suit=spades] {
  background-image: url(art/3S.svg);
}
.card[value="3"][suit=hearts] {
  background-image: url(art/3H.svg);
}
.card[value="3"][suit=clubs] {
  background-image: url(art/3C.svg);
}
.card[value="3"][suit=diamonds] {
  background-image: url(art/3D.svg);
}
.card[value="4"][suit=spades] {
  background-image: url(art/4S.svg);
}
.card[value="4"][suit=hearts] {
  background-image: url(art/4H.svg);
}
.card[value="4"][suit=clubs] {
  background-image: url(art/4C.svg);
}
.card[value="4"][suit=diamonds] {
  background-image: url(art/4D.svg);
}
.card[value="5"][suit=spades] {
  background-image: url(art/5S.svg);
}
.card[value="5"][suit=hearts] {
  background-image: url(art/5H.svg);
}
.card[value="5"][suit=clubs] {
  background-image: url(art/5C.svg);
}
.card[value="5"][suit=diamonds] {
  background-image: url(art/5D.svg);
}
.card[value="6"][suit=spades] {
  background-image: url(art/6S.svg);
}
.card[value="6"][suit=hearts] {
  background-image: url(art/6H.svg);
}
.card[value="6"][suit=clubs] {
  background-image: url(art/6C.svg);
}
.card[value="6"][suit=diamonds] {
  background-image: url(art/6D.svg);
}
.card[value="7"][suit=spades] {
  background-image: url(art/7S.svg);
}
.card[value="7"][suit=hearts] {
  background-image: url(art/7H.svg);
}
.card[value="7"][suit=clubs] {
  background-image: url(art/7C.svg);
}
.card[value="7"][suit=diamonds] {
  background-image: url(art/7D.svg);
}
.card[value="8"][suit=spades] {
  background-image: url(art/8S.svg);
}
.card[value="8"][suit=hearts] {
  background-image: url(art/8H.svg);
}
.card[value="8"][suit=clubs] {
  background-image: url(art/8C.svg);
}
.card[value="8"][suit=diamonds] {
  background-image: url(art/8D.svg);
}
.card[value="9"][suit=spades] {
  background-image: url(art/9S.svg);
}
.card[value="9"][suit=hearts] {
  background-image: url(art/9H.svg);
}
.card[value="9"][suit=clubs] {
  background-image: url(art/9C.svg);
}
.card[value="9"][suit=diamonds] {
  background-image: url(art/9D.svg);
}
.card[value="10"][suit=spades] {
  background-image: url(art/10S.svg);
}
.card[value="10"][suit=hearts] {
  background-image: url(art/10H.svg);
}
.card[value="10"][suit=clubs] {
  background-image: url(art/10C.svg);
}
.card[value="10"][suit=diamonds] {
  background-image: url(art/10D.svg);
}
.card[value=jack][suit=spades] {
  background-image: url(art/JS.svg);
}
.card[value=jack][suit=hearts] {
  background-image: url(art/JH.svg);
}
.card[value=jack][suit=clubs] {
  background-image: url(art/JC.svg);
}
.card[value=jack][suit=diamonds] {
  background-image: url(art/JD.svg);
}
.card[value=queen][suit=spades] {
  background-image: url(art/QS.svg);
}
.card[value=queen][suit=hearts] {
  background-image: url(art/QH.svg);
}
.card[value=queen][suit=clubs] {
  background-image: url(art/QC.svg);
}
.card[value=queen][suit=diamonds] {
  background-image: url(art/QD.svg);
}
.card[value=king][suit=spades] {
  background-image: url(art/KS.svg);
}
.card[value=king][suit=hearts] {
  background-image: url(art/KH.svg);
}
.card[value=king][suit=clubs] {
  background-image: url(art/KC.svg);
}
.card[value=king][suit=diamonds] {
  background-image: url(art/KD.svg);
}

/*# sourceMappingURL=main.css.map */
