body {
	margin: 0;
}

* {
	user-select: none;
}

#hand {
	position: absolute;
	bottom: 0;
	background: #444;
	height: 160px;
	width: 100%;

	&:after {
		content: "";
		width: calc(100% - 32px);
		height: calc(100% - 32px);
		display: block;
		box-sizing: border-box;
		border: 5px solid #222;
		position: relative;
		top: 16px;
		left: 16px;
	}

	&:before {
		content: "";
		display: block;
		position: relative;
		width: 100%;
		height: 16px;
		top: -16px;
		margin-bottom: -16px;
		background: #444;
		background: linear-gradient(0deg, #444 0%, rgba(68,68,68,0) 100%);
	}
}

#play-area {
	position: relative;
	width: 100vw;
	height: 100vh;
}

#table {
	background: #056941 url(img/tablecloth.png) repeat;
	height: 100%;
	width: 100%;
	position: fixed;
}

#overlay {
	width: 100vw;
	height: 100vh;
	top: 0;
	position: absolute;
}

.card {

	background-size: 100%;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
	position: absolute;
	transition: width 300ms, height 300ms;

	&.glide {
		transition: all 300ms;
	}

	&:active {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
        z-index: 100;
    }

	&[value="ace"] {
		&[suit="spades"] {
			background-image: url(art/AS.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/AH.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/AC.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/AD.svg);
		}
	}
	&[value="2"] {
		&[suit="spades"] {
			background-image: url(art/2S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/2H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/2C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/2D.svg);
		}
	}
	&[value="3"] {
		&[suit="spades"] {
			background-image: url(art/3S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/3H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/3C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/3D.svg);
		}
	}
	&[value="4"] {
		&[suit="spades"] {
			background-image: url(art/4S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/4H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/4C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/4D.svg);
		}
	}
	&[value="5"] {
		&[suit="spades"] {
			background-image: url(art/5S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/5H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/5C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/5D.svg);
		}
	}
	&[value="6"] {
		&[suit="spades"] {
			background-image: url(art/6S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/6H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/6C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/6D.svg);
		}
	}
	&[value="7"] {
		&[suit="spades"] {
			background-image: url(art/7S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/7H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/7C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/7D.svg);
		}
	}
	&[value="8"] {
		&[suit="spades"] {
			background-image: url(art/8S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/8H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/8C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/8D.svg);
		}
	}
	&[value="9"] {
		&[suit="spades"] {
			background-image: url(art/9S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/9H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/9C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/9D.svg);
		}
	}
	&[value="10"] {
		&[suit="spades"] {
			background-image: url(art/10S.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/10H.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/10C.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/10D.svg);
		}
	}
	&[value="jack"] {
		&[suit="spades"] {
			background-image: url(art/JS.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/JH.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/JC.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/JD.svg);
		}
	}
	&[value="queen"] {
		&[suit="spades"] {
			background-image: url(art/QS.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/QH.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/QC.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/QD.svg);
		}
	}
	&[value="king"] {
		&[suit="spades"] {
			background-image: url(art/KS.svg);
		}
		&[suit="hearts"] {
			background-image: url(art/KH.svg);
		}
		&[suit="clubs"] {
			background-image: url(art/KC.svg);
		}
		&[suit="diamonds"] {
			background-image: url(art/KD.svg);
		}
	}
}